services:
  api:
    build:
      dockerfile: Dockerfile.dev
      context: ./apps/api
    env_file: "./apps/api/.env.dev"
    volumes:
      - ./apps/api:/app
    ports:
      - 8080:8080
    depends_on:
      - postgres
      - redis

  bat_worker:
    build:
      dockerfile: cmd/email_worker/Dockerfile
      context: ./apps/api
      target: dev
    env_file: "./apps/api/.env.dev"
    volumes:
      - ./apps/api:/app
    working_dir: /app/cmd/BAT_worker
    depends_on:
      - redis

  email_worker:
    build:
      dockerfile: cmd/email_worker/Dockerfile
      context: ./apps/api
      target: dev
    env_file: "./apps/api/.env.dev"
    volumes:
      - ./apps/api:/app
    working_dir: /app/cmd/email_worker
    depends_on:
      - redis
  
  web:
    build:
      context: ./apps/web
      dockerfile: Dockerfile
      target: dev
    volumes:
      - ./apps/web:/app:cached
      - /app/node_modules
    ports:
      - "5173:5173"
    environment:
      - NODE_ENV=development
    depends_on:
      - api

  discord:
    build:
      context: ./apps/discord-bot
      dockerfile: Dockerfile
    ports:
      - "3000:3000"

  asynqmon:
    image: hibiken/asynqmon:latest
    platform: linux/amd64
    ports:
      - "6767:6767"
    environment:
      - REDIS_ADDR=redis:6379
      - PORT=6767
    depends_on:
      - redis

  postgres:
    image: postgres:17.4
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: coredb
    ports:
      - 5432:5432
    attach: false
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:8.2.1-alpine
    container_name: redis
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "-p", "6379", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s


volumes:
  postgres_data:
    
    
