site_name: SwampHacks Documentation
repo_url: https://github.com/swamphacks/core
repo_name: SwampHacks Core
docs_dir: src
theme:
  name: material
  icon:
    repo: fontawesome/brands/git-alt
  palette:
    primary: green
  features:
    - navigation.tabs
    - navigation.top
    - navigation.instant
    - navigation.instant.progress
    - content.code.copy
    - content.action.edit
plugins:
  - search
copyright: >
  Copyright &copy; 2025 SwampHacks

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - attr_list
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
nav:
  - Home:
      - Introduction: index.md
      - Getting Started: getting-started.md
  - Web:
      - Overview: web/index.md
      - Installation: web/installation.md
      - Features: web/features.md
  - API:
      - Overview: api/index.md
      - Installation: api/installation.md
      - OpenAPI: 'https://core.apidocumentation.com/guide/swamphacks-core-api'
      - Database testing: 'api/db_testing.md'
  - Discord Bot:
      - Overview: discord-bot/index.md
      - Installation: discord-bot/installation.md
      - Commands: discord-bot/commands.md
  - Docs:
      - Overview: docs/index.md
      - Installation: docs/installation.md

extra:
  generator: false
