{
    "swagger": "2.0",
    "info": {
        "description": "This is the API for SwampHacks. It handles all of the automation and management for SwampHacks's events.",
        "title": "SwampHacks Core API",
        "termsOfService": "https://app.swamphacks.com/terms",
        "contact": {
            "name": "API Support",
            "url": "http://app.swamphacks.com/support",
            "email": "tech@swamphacks.com"
        },
        "version": "1.0"
    },
    "host": "api.swamphacks.com",
    "basePath": "/v1",
    "paths": {
        "/auth/me": {
            "get": {
                "description": "Retrieves current user's user information from database",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth"
                ],
                "summary": "Get authenticated user's information",
                "responses": {
                    "200": {
                        "description": "User information",
                        "schema": {
                            "$ref": "#/definitions/sqlc.AuthUser"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/oauth/verify": {
            "post": {
                "description": "Verifies an OAuth code and sets a session token in a cookie",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "oauth"
                ],
                "summary": "Verify OAuth Code",
                "parameters": [
                    {
                        "description": "OAuth Verification Request",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/handlers.OAuthVerifyRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Session token set in cookie",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Invalid request body",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized or invalid code",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "handlers.OAuthVerifyRequest": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "string"
                },
                "provider": {
                    "type": "string"
                }
            }
        },
        "sqlc.AuthUser": {
            "type": "object",
            "properties": {
                "created_at": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "email_verified": {
                    "type": "boolean"
                },
                "id": {
                    "type": "string"
                },
                "image": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "onboarded": {
                    "type": "boolean"
                },
                "updated_at": {
                    "type": "string"
                }
            }
        }
    }
}