:root {
  --background: oklch(99.405% 0.00011 271.152);
  --surface: oklch(98.911% 0.00011 271.152);
  --border: var(--color-zinc-200);
  --accent-main: var(--color-blue-500);

  /* TEXT */
  --text-main: var(--color-zinc-900);
  --text-secondary: var(--color-zinc-600);
  --text-link: var(--color-blue-500);

  /* NAVBAR */
  --navlink-bg-hover: oklch(96.007% 0.00011 271.152);
  --navlink-bg-inactive: transparent;
  --navlink-bg-active: oklch(92.797% 0.00011 271.152);

  /* NAVBAR TEXT */
  --navlink-text: var(--text-main);
  --navlink-secondary-text: var(--color-neutral-500);

  /* BUTTONS */
  --button-primary: var(--color-blue-600);
  --button-primary-hover: var(--color-blue-700);
  --button-primary-pressed: var(--color-blue-800);
  --button-primary-disabled: var(--color-blue-300);
  --button-secondary: var(--color-gray-200);
  --button-secondary-hover: var(--color-gray-300);
  --button-secondary-pressed: var(--color-zinc-200);
  --button-secondary-disabled: var(--color-gray-300);
  --button-success: var(--color-green-600);
  --button-success-hover: var(--color-green-700);
  --button-success-pressed: var(--color-green-800);
  --button-success-disabled: var(--color-green-300);
  --button-outline: oklch(0.6187 0.2067 259.23 / 25%);
  --button-outline-hover: oklch(0.5465 0.2455 262.87 / 25%);
  --button-outline-pressed: oklch(0.5465 0.2455 262.87 / 25%);
  --button-outline-disabled: oklch(0.8071 0.10065 250.4462 / 25%);
  --button-danger: var(--color-red-600);
  --button-danger-hover: var(--color-red-700);
  --button-danger-pressed: var(--color-red-800);
  --button-danger-disabled: var(--color-red-800);

  /* INPUTS */
  --input-bg: var(--color-white);
  --input-bg-disbaled: var(--color-gray-200);
  --input-border: var(--color-border);
  --input-border-focused: var(--color-zinc-500);
  --input-border-invalid: var(--color-red-600);
  --input-border-disabled: var(--color-border);
  --input-text-error: var(--color-red-600);
  --input-text-disabled: var(--color-gray-500);

  --toastify-color-light: var(--color-surface);
}

.dark {
  /* --surface: var(--color-neutral-900); */
  --surface: oklch(0.2435 0 0);
  --background: var(--color-neutral-900);
  --border: var(--color-zinc-800);
  --accent-main: var(--color-blue-400);

  /* TEXT */
  --text-main: var(--color-zinc-200);
  --text-secondary: var(--color-zinc-400);
  --text-link: var(--color-blue-300);

  /* NAVBAR */
  --navlink-bg-hover: oklch(0.2603 0 0);
  --navlink-bg-inactive: transparent;
  --navlink-bg-active: var(--color-neutral-800);

  /* NAVBAR TEXT */
  --navlink-text: var(--text-main);
  --navlink-secondary-text: var(--color-neutral-500);

  /* TABLE */
  --table-bg-row: #222222;
  --table-bg-oddrow: #292929;

  /* BUTTONS */
  --button-primary: var(--color-blue-500);
  --button-primary-hover: var(--color-blue-700);
  --button-primary-pressed: var(--color-blue-800);
  --button-primary-disabled: var(--color-blue-300);
  --button-secondary: var(--color-zinc-800);
  --button-secondary-hover: var(--color-zinc-700);
  --button-secondary-pressed: var(--color-zinc-600);
  --button-secondary-disabled: var(--color-neutral-700);
  --button-outline: oklch(0.6187 0.2067 259.23 / 25%);
  --button-outline-hover: oklch(0.5465 0.2455 262.87 / 25%);
  --button-outline-pressed: oklch(0.5465 0.2455 262.87 / 25%);
  --button-outline-disabled: oklch(0.8071 0.10065 250.4462 / 25%);
  --button-danger: var(--color-red-600);
  --button-danger-hover: var(--color-red-700);
  --button-danger-pressed: var(--color-red-800);
  --button-danger-disabled: var(--color-red-800);

  /* INPUTS */
  --input-bg: var(--color-neutral-800);
  --input-bg-disbaled: var(--color-neutral-900);
  --input-border: var(--color-border);
  --input-border-focused: var(--color-zinc-500);
  --input-border-invalid: var(--color-red-300);
  --input-border-disabled: var(--color-zinc-700);
  --input-text-error: var(--color-red-300);
  --input-text-disabled: var(--color-zinc-400);

  --toastify-color-dark: var(--color-surface);
}

@theme inline {
  --font-figtree: "Figtree", sans-serif;

  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-border: var(--border);
  --color-accent-main: var(--accent-main);

  --color-text-main: var(--text-main);
  --color-text-secondary: var(--text-secondary);
  --color-text-link: var(--text-link);

  --color-navlink-bg-hover: var(--navlink-bg-hover);
  --color-navlink-bg-inactive: var(--navlink-bg-inactive);
  --color-navlink-bg-active: var(--navlink-bg-active);
  --color-navlink-text: var(--navlink-text);
  --color-navlink-secondary-text: var(--navlink-secondary-text);

  --color-table-bg-row: var(--table-bg-row);
  --color-table-bg-oddrow: var(--table-bg-oddrow);

  --color-button-primary: var(--button-primary);
  --color-button-primary-hover: var(--button-primary-hover);
  --color-button-primary-pressed: var(--button-primary-pressed);
  --color-button-primary-disabled: var(--button-primary-disabled);
  --color-button-secondary: var(--button-secondary);
  --color-button-secondary-hover: var(--button-secondary-hover);
  --color-button-secondary-pressed: var(--button-secondary-pressed);
  --color-button-secondary-disabled: var(--button-secondary-disabled);
  --color-button-outline: var(--button-outline);
  --color-button-outline-hover: var(--button-outline-hover);
  --color-button-outline-pressed: var(--button-outline-pressed);
  --color-button-outline-disabled: var(--button-outline-disabled);
  --color-button-danger: var(--button-danger);
  --color-button-danger-hover: var(--button-danger-hover);
  --color-button-danger-pressed: var(--button-danger-pressed);
  --color-button-danger-disabled: var(--button-danger-disabled);

  --color-input-bg: var(--input-bg);
  --color-input-bg-disbaled: var(--input-bg-disbaled);
  --color-input-border: var(--input-border);
  --color-input-border-focused: var(--input-border-focused);
  --color-input-border-invalid: var(--input-border-invalid);
  --color-input-border-disabled: var(--input-border-disabled);
  --color-input-text-error: var(--input-text-error);
  --color-input-text-disabled: var(--input-text-disabled);

  --toastify-text-color: var(--text-main);
}
