:root {
  --background: oklch(0.9551 0 0);
  --surface: var(--color-neutral-50);
  --border: var(--color-zinc-300);
  --accent-main: var(--color-blue-500);

  /* TEXT */
  --text-main: var(--color-zinc-900);
  --text-secondary: var(--color-zinc-600);

  /* BUTTONS */
  --button-primary: var(--color-blue-500);
  --button-primary-hover: var(--color-blue-700);
  --button-primary-disabled: var(--color-blue-300);
  --button-outline: oklch(0.6187 0.2067 259.23 / 25%);
  --button-outline-hover: oklch(0.5465 0.2455 262.87 / 25%);
  --button-outline-disabled: oklch(0.8071 0.10065 250.4462 / 25%);

  --badge-bg-default: var(--color-neutral-200);
  --badge-bg-rejected: var(--color-red-200);
  --badge-bg-attending: var(--color-blue-200);
  --badge-bg-accepted: var(--color-green-200);
  --badge-bg-waitlisted: var(--color-violet-200);
  --badge-bg-underReview: var(--color-orange-200);
  --badge-bg-notApplied: var(--color-neutral-300);
  --badge-bg-staff: var(--color-sky-200);
  --badge-bg-admin: var(--color-fuchsia-200);
  --badge-bg-notGoing: var(--color-red-200);
  --badge-bg-completed: var(--color-indigo-200);

  --badge-text-default: var(--color-neutral-600);
  --badge-text-attending: var(--color-blue-600);
  --badge-text-rejected: var(--color-red-600);
  --badge-text-accepted: var(--color-green-600);
  --badge-text-waitlisted: var(--color-violet-600);
  --badge-text-underReview: var(--color-orange-600);
  --badge-text-notApplied: var(--color-neutral-600);
  --badge-text-staff: var(--color-sky-600);
  --badge-text-admin: var(--color-fuchsia-600);
  --badge-text-notGoing: var(--color-red-600);
  --badge-text-completed: var(--color-indigo-600);
}

.dark {
  --background: var(--color-neutral-900);
  --surface: var(--color-neutral-800);
  --border: var(--color-zinc-700);
  --accent-main: var(--color-blue-400);

  /* TEXT */
  --text-main: var(--color-zinc-100);
  --text-secondary: var(--color-zinc-400);

  /* BUTTONS */
  --button-primary: var(--color-blue-500);
  --button-primary-hover: var(--color-blue-700);
  --button-primary-disabled: var(--color-blue-300);
  --button-outline: oklch(0.6187 0.2067 259.23 / 25%);
  --button-outline-hover: oklch(0.5465 0.2455 262.87 / 25%);
  --button-outline-disabled: oklch(0.8071 0.10065 250.4462 / 25%);

  --badge-bg-default: var(--color-neutral-200);
  --badge-bg-rejected: var(--color-red-200);
  --badge-bg-attending: var(--color-blue-200);
  --badge-bg-accepted: var(--color-green-200);
  --badge-bg-waitlisted: var(--color-violet-200);
  --badge-bg-underReview: var(--color-orange-200);
  --badge-bg-notApplied: var(--color-neutral-300);
  --badge-bg-staff: var(--color-sky-200);
  --badge-bg-admin: var(--color-fuchsia-200);
  --badge-bg-notGoing: var(--color-red-200);
  --badge-bg-completed: var(--color-indigo-200);

  --badge-text-default: var(--color-neutral-600);
  --badge-text-attending: var(--color-blue-600);
  --badge-text-rejected: var(--color-red-600);
  --badge-text-accepted: var(--color-green-600);
  --badge-text-waitlisted: var(--color-violet-600);
  --badge-text-underReview: var(--color-orange-600);
  --badge-text-notApplied: var(--color-neutral-600);
  --badge-text-staff: var(--color-sky-600);
  --badge-text-admin: var(--color-fuchsia-600);
  --badge-text-notGoing: var(--color-red-600);
  --badge-text-completed: var(--color-indigo-600);
}

@theme inline {
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-border: var(--border);
  --color-accent-main: var(--accent-main);

  --color-text-main: var(--text-main);
  --color-text-secondary: var(--text-secondary);

  --color-button-primary: var(--button-primary);
  --color-button-primary-hover: var(--button-primary-hover);
  --color-button-primary-disabled: var(--button-primary-disabled);
  --color-button-outline: var(--button-outline);
  --color-button-outline-hover: var(--button-outline-hover);
  --color-button-outline-disabled: var(--button-outline-disabled);

  --color-badge-bg-default: var(--badge-bg-default);
  --color-badge-bg-rejected: var(--badge-bg-rejected);
  --color-badge-bg-attending: var(--badge-bg-attending);
  --color-badge-bg-accepted: var(--badge-bg-accepted);
  --color-badge-bg-waitlisted: var(--badge-bg-waitlisted);
  --color-badge-bg-underReview: var(--badge-bg-underReview);
  --color-badge-bg-notApplied: var(--badge-bg-notApplied);
  --color-badge-bg-staff: var(--badge-bg-staff);
  --color-badge-bg-admin: var(--badge-bg-admin);
  --color-badge-bg-notGoing: var(--badge-bg-notGoing);
  --color-badge-bg-completed: var(--badge-bg-completed);

  --color-badge-text-default: var(--badge-text-default);
  --color-badge-text-attending: var(--badge-text-attending);
  --color-badge-text-rejected: var(--badge-text-rejected);
  --color-badge-text-accepted: var(--badge-text-accepted);
  --color-badge-text-waitlisted: var(--badge-text-waitlisted);
  --color-badge-text-underReview: var(--badge-text-underReview);
  --color-badge-text-notApplied: var(--badge-text-notApplie);
  --color-badge-text-staff: var(--badge-text-staff);
  --color-badge-text-admin: var(--badge-text-admin);
  --color-badge-text-notGoing: var(--badge-text-notGoing);
  --color-badge-text-completed: var(--badge-text-completed);

  --font-figtree: "Figtree", sans-serif;
}
