.sponsors-container {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  color: #ddc8af;
  font-family: "Jersey 20", cursive;
  margin-bottom: 130px;
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.sponsors-header {
  font-family: 'Pixelify Sans', monospace;
  text-align: center;
  font-size: 40px;
  margin-left: 20px;
  margin-top: 30px;
}

.sponsors-vegetation {
  bottom: 0%;
  height: 100px;
  image-rendering: pixelated;
  background: url('/assets/vegetation.png') repeat-x bottom;
  background-size: auto 100%;
  z-index: 3;
  width: 100%;
}

.boat {
  width: 150px;
  image-rendering: pixelated;
}

.boat-outer-container {
  position: absolute;
  right: 0;
  top: -50px;
  z-index: 10;
}

.boat-container {
  position: relative;
}

.rod {
  position: absolute;
  z-index: -1;
  left: 5px;
  top: 8px;
}

.water {
  position: relative;
  height: 400px;
  width: 100%;
  display: block;
  justify-content: center;
  background: linear-gradient(#306271, rgb(11, 53, 53));
}

.fish-school {
  opacity: 15%;
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
}

.fish {
  position: absolute;
  image-rendering: pixelated;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.20));
}

.sponsors-coming-soon {
  font-size: 30px;
  margin-top: 50px;
  text-align: center;
  width: 900px;
}

@media (min-width: 768px) {
  .sponsors-container {
    align-items: center;
    justify-content: center;
    
  }

  .sponsors-header {
    height: fit-content;
    text-align: left;
    width: 900px;  
  }

  .sponsors-header {
    margin-top: 10px;
  }

  .boat {
    width: 250px;
  }

  .rod {
    width: 50px;
    top: 20px;
  }
}

.sponsors-items-container {
  width: 100%;
  display: flex;
  justify-content: center;
  /* padding-top: 30px; */
}

.sponsors {
  max-width: 600px;
  z-index: 100;
}