.studentorgs-container {
  /* position: relative; */
  padding-top: 20px;
  color: #ddc8af;
  font-family: "Jersey 20", cursive;
  margin-bottom: 580px;
}

.studentorgs-header {
  position: relative;
  display: block;
  text-align: center;
  font-family: 'Pixelify Sans', monospace;
  font-size: 40px;
  margin: 0 auto;
  z-index: 50;
}

.trees-back1 {
  height: 38%;
  image-rendering: pixelated;
  background: url('/assets/trees.png') repeat-x bottom;
  background-size: auto 95%;
  background-position-x: -450px;
  filter: brightness(0.35) saturate(0.5);
  z-index: 1;
}

.trees-back2 {
  top: -7%;
  height: 40%;
  image-rendering: pixelated;
  background: url('/assets/trees.png') repeat-x bottom;
  background-size: auto 85%;
  background-position-x: 210px;
  filter: brightness(0.30) saturate(0.4);
  z-index: 2;
}

.vegetation {
  top: -17%;
  height: 15%;
  image-rendering: pixelated;
  background: url('/assets/vegetation.png') repeat-x bottom;
  background-size: auto 100%;
  background-position-x: 500px;
  z-index: 3;
}

.canopy {
  top: -3%;
  height: 35%;
  image-rendering: pixelated;
  background: url('/assets/canopy.png') repeat-x top;
  background-size: auto 100%;
  z-index: 5;
}

.foreground1 {
  bottom: 60%;
  height: 20%;
  width: 100%;
  image-rendering: pixelated;
  background: url('/assets/grass.png') repeat-x bottom;
  background-size: auto 100%;
  z-index: -1;
}

.bat-container {
  position: relative;
}

.bat {
  /* width: 250px; */
  width: 150px;
  position: absolute;
  z-index: 10;
  filter: brightness(0.70) saturate(0.7);
  z-index: 4;
}

@media (min-width: 768px) {
  .studentorgs-header {
    width: 900px;
    text-align: left;
  }

  .bat {
    width: 150px;
  }
}