DATABASE_URL="postgres://postgres:postgres@postgres:5432/coredb"
DATABASE_URL_MIGRATION="postgres://postgres:postgres@localhost:5432/coredb"
REDIS_URL="redis://redis:6379"
ALLOWED_ORIGINS="" # URLs in comma seperated list

# Application waitlist
MAX_ACCEPTED_APPLICATIONS=500
ACCEPT_FROM_WAITLIST_COUNT=50
ACCEPT_FROM_WAITLIST_PERIOD="@every 72h"

# For OAuth
AUTH_DISCORD_CLIENT_ID=
AUTH_DISCORD_CLIENT_SECRET=
AUTH_DISCORD_REDIRECT_URI="http://localhost:8080/auth/callback"

# For cookies
COOKIE_DOMAIN=localhost
COOKIE_SECURE=false

# Client
CLIENT_URL=http://localhost:5173
