name: quality-control

on:
  pull_request:
    branches: [master]

jobs:
  web-checks:
    name: Web Lint & Format
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: apps/web

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 10
          run_install: false

      
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'pnpm'
          cache-dependency-path: apps/web/pnpm-lock.yaml

      - name: Install dependencies
        run: pnpm install

      - name: Run ESLint
        run: pnpm eslint . --ext .js,.jsx,.ts,.tsx

      - name: Run Prettier
        run: pnpm prettier . --check


  api-lint:
    name: API Lint
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: apps/api
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: stable
      - name: Download Go Modules
        run: go mod download
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.1
          working-directory: apps/api
          args: run ./...

  discord-bot-checks:
    name: Discord bot Lint & Format
    runs-on: ubuntu-latest
    steps:
      - name: Placeholder for Discord bot lint + format
        run: echo "Discord bot linting and formatting will be implemented here"
